In [1]:
import pandas as pd
import numpy as np

Load the dataset into pandas data frame

In [2]:
df= pd.read_csv('melb_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'melb_data.csv'

In [ ]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

Data PreProcessing

In [ ]:
df.tail(6)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13574,Westmeadows,9 Black St,3,h,582000,S,Red,26-08-2017,16.5,3049,...,2,2.0,256,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,3150,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,3016,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,3016,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,3016,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,3013,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

In [ ]:
 #prints summary of dataframe i.e index dtypecolumn non-null values etc
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  int64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom2       13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  int64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

In [ ]:
df.size

285180

In [ ]:
df.shape

(13580, 21)

In [ ]:
df.ndim

2

In [ ]:
#Returns statitics of numerical data
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [ ]:
df.isnull()   #checking for null values

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [ ]:
df["BuildingArea"] = df["BuildingArea"].fillna(df["BuildingArea"].mode()[0])

In [ ]:
df["Car"] = df["Car"].fillna(df["Car"].mean())

In [ ]:
df["YearBuilt"] = df["YearBuilt"].fillna(df["YearBuilt"].mean())

In [ ]:
df["CouncilArea"].fillna("Not given", inplace= True)

In [ ]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

Data Formatting And Data Normalization

In [ ]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price              int64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int64
Bedroom2           int64
Bathroom           int64
Car              float64
Landsize           int64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount      int64
dtype: object

In [ ]:
df["YearBuilt"] = df["YearBuilt"].astype('int')

In [ ]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price              int64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int64
Bedroom2           int64
Bathroom           int64
Car              float64
Landsize           int64
BuildingArea     float64
YearBuilt          int32
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount      int64
dtype: object

In [ ]:
df1=df.copy()

In [ ]:
df1['Price']=np.sqrt(df1['Price'])

In [ ]:
df1.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,h,t,u
0,Abbotsford,85 Turner St,2,h,0.405518,1,Biggin,03-12-2016,2.5,3067,...,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,NaN,NaN,NaN
1,Abbotsford,25 Bloomburg St,2,h,0.339116,1,Biggin,04-02-2016,2.5,3067,...,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,NaN,NaN,NaN
2,Abbotsford,5 Charles St,3,h,0.403457,3,Biggin,04-03-2017,2.5,3067,...,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,NaN,NaN,NaN
3,Abbotsford,40 Federation La,3,h,0.307318,0,Biggin,04-03-2017,2.5,3067,...,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,NaN,NaN,NaN
4,Abbotsford,55a Park St,4,h,0.421637,4,Nelson,04-06-2016,2.5,3067,...,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,NaN,NaN,NaN

Categorical Variables to numeric variables

In [ ]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,...,1,1.0,202,120.0,1964,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,...,1,0.0,156,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,...,2,0.0,134,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,...,2,1.0,94,120.0,1964,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,...,1,2.0,120,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
df['Type'].unique()

array(['h', 'u', 't'], dtype=object)

In [ ]:
df['Method'].unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

Applying one hot encoding to convert categorical data to numerical

In [ ]:
data_add = pd.get_dummies(df['Type']).add_prefix('Type'+ '-')
df = df.drop('Type', axis=1)
df = df.join(data_add)
df

,Suburb,Address,Rooms,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Type-h,Type-t,Type-u
0,Abbotsford,85 Turner St,2,1480000,S,Biggin,03-12-2016,2.5,3067,2,...,120.0,1964,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,1,0,0
1,Abbotsford,25 Bloomburg St,2,1035000,S,Biggin,04-02-2016,2.5,3067,2,...,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,1,0,0
2,Abbotsford,5 Charles St,3,1465000,SP,Biggin,04-03-2017,2.5,3067,3,...,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,1,0,0
3,Abbotsford,40 Federation La,3,850000,PI,Biggin,04-03-2017,2.5,3067,3,...,120.0,1964,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,1,0,0
4,Abbotsford,55a Park St,4,1600000,VB,Nelson,04-06-2016,2.5,3067,3,...,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,1245000,S,Barry,26-08-2017,16.7,3150,4,...,120.0,1981,Not given,-37.90562,145.16761,South-Eastern Metropolitan,7392,1,0,0
13576,Williamstown,77 Merrett Dr,3,1031000,SP,Williams,26-08-2017,6.8,3016,3,...,133.0,1995,Not given,-37.85927,144.87904,Western Metropolitan,6380,1,0,0
13577,Williamstown,83 Power St,3,1170000,S,Raine,26-08-2017,6.8,3016,3,...,120.0,1997,Not given,-37.85274,144.88738,Western Metropolitan,6380,1,0,0
13578,Williamstown,96 Verdon St,4,2500000,PI,Sweeney,26-08-2017,6.8,3016,4,...,157.0,1920,Not given,-37.85908,144.89299,Western Metropolitan,6380,1,0,0
13579,Yarraville,6 Agnes St,4,1285000,SP,Village,26-08-2017,6.3,3013,4,...,112.0,1920,Not given,-37.81188,144.88449,Western Metropolitan,6543,1,0,0

In [ ]:
e=LabelEncoder()
df["Method"]=e.fit_transform(df["Method"])

In [ ]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,1,Biggin,03-12-2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,1,Biggin,04-02-2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,3,Biggin,04-03-2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,0,Biggin,04-03-2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,4,Nelson,04-06-2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [ ]:
data_add=pd.get_dummies(df['Method']).add_prefix('Method'+'-')
df = df.drop('Method', axis=1)
df = df.join(data_add)
df

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Regionname,Propertycount,Type-h,Type-t,Type-u,Method-PI,Method-S,Method-SA,Method-SP,Method-VB
0,Abbotsford,85 Turner St,2,1480000,Biggin,03-12-2016,2.5,3067,2,1,...,Northern Metropolitan,4019,1,0,0,0,1,0,0,0
1,Abbotsford,25 Bloomburg St,2,1035000,Biggin,04-02-2016,2.5,3067,2,1,...,Northern Metropolitan,4019,1,0,0,0,1,0,0,0
2,Abbotsford,5 Charles St,3,1465000,Biggin,04-03-2017,2.5,3067,3,2,...,Northern Metropolitan,4019,1,0,0,0,0,0,1,0
3,Abbotsford,40 Federation La,3,850000,Biggin,04-03-2017,2.5,3067,3,2,...,Northern Metropolitan,4019,1,0,0,1,0,0,0,0
4,Abbotsford,55a Park St,4,1600000,Nelson,04-06-2016,2.5,3067,3,1,...,Northern Metropolitan,4019,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,1245000,Barry,26-08-2017,16.7,3150,4,2,...,South-Eastern Metropolitan,7392,1,0,0,0,1,0,0,0
13576,Williamstown,77 Merrett Dr,3,1031000,Williams,26-08-2017,6.8,3016,3,2,...,Western Metropolitan,6380,1,0,0,0,0,0,1,0
13577,Williamstown,83 Power St,3,1170000,Raine,26-08-2017,6.8,3016,3,2,...,Western Metropolitan,6380,1,0,0,0,1,0,0,0
13578,Williamstown,96 Verdon St,4,2500000,Sweeney,26-08-2017,6.8,3016,4,1,...,Western Metropolitan,6380,1,0,0,1,0,0,0,0
13579,Yarraville,6 Agnes St,4,1285000,Village,26-08-2017,6.3,3013,4,1,...,Western Metropolitan,6543,1,0,0,0,0,0,1,0

In [ ]:
data_add=pd.get_dummies(df["Type"].add_prefix('Type'+ '-'))
df.drop("Type",axis=1)
df = df.join(data_add)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,h,t,u
0,Abbotsford,85 Turner St,2,h,1480000,1,Biggin,03-12-2016,2.5,3067,...,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,NaN,NaN,NaN
1,Abbotsford,25 Bloomburg St,2,h,1035000,1,Biggin,04-02-2016,2.5,3067,...,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,NaN,NaN,NaN
2,Abbotsford,5 Charles St,3,h,1465000,3,Biggin,04-03-2017,2.5,3067,...,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,NaN,NaN,NaN
3,Abbotsford,40 Federation La,3,h,850000,0,Biggin,04-03-2017,2.5,3067,...,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,NaN,NaN,NaN
4,Abbotsford,55a Park St,4,h,1600000,4,Nelson,04-06-2016,2.5,3067,...,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,1,Barry,26-08-2017,16.7,3150,...,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,NaN,NaN,NaN
13576,Williamstown,77 Merrett Dr,3,h,1031000,3,Williams,26-08-2017,6.8,3016,...,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380,NaN,NaN,NaN
13577,Williamstown,83 Power St,3,h,1170000,1,Raine,26-08-2017,6.8,3016,...,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380,NaN,NaN,NaN
13578,Williamstown,96 Verdon St,4,h,2500000,0,Sweeney,26-08-2017,6.8,3016,...,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380,NaN,NaN,NaN
13579,Yarraville,6 Agnes St,4,h,1285000,3,Village,26-08-2017,6.3,3013,...,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543,NaN,NaN,NaN